# Assingment 4
## Jacklyn Tellez 
## CS 150-01

### Problem a
let list1=[28,19,38,1,23,7,16,7,3,61,7,16] be used for the following examples

In [5]:
list1=[28,19,38,1,23,7,16,7,3,61,7,16]
list1

[28, 19, 38, 1, 23, 7, 16, 7, 3, 61, 7, 16]

#### i) append() 
Append adds an element to the end of the list.

In [6]:
list1.append(28)
list1

[28, 19, 38, 1, 23, 7, 16, 7, 3, 61, 7, 16, 28]

#### ii) extend()
extend is used when one wants to add all elements of a different sequence to the end of the list.

In [7]:
list1.extend([23,12,8])
list1

[28, 19, 38, 1, 23, 7, 16, 7, 3, 61, 7, 16, 28, 23, 12, 8]

#### iii) insert()
The insert function adds a new element to the list at a specific index

In [8]:
list1.insert(3,45)
list1

[28, 19, 38, 45, 1, 23, 7, 16, 7, 3, 61, 7, 16, 28, 23, 12, 8]

#### iv) remove()
remove deletes a specified element. if the element is repeated in the list, remove deletes the first one.

In [9]:
list1.remove(7)
list1

[28, 19, 38, 45, 1, 23, 16, 7, 3, 61, 7, 16, 28, 23, 12, 8]

#### v) count()
count returns the amount of times an element appears in a list.

In [10]:
list1.count(28)

2

#### vi) index()
Index is like a search key. With a list one can find the index of an element by typing index(element they want the index of)

In [11]:
list1.index(16)

6

#### viii) sorted()
arranges elements in a list into a new list in ascending order. the original list is unmodified

In [13]:
x=sorted(list1)
x

[1, 3, 7, 7, 8, 12, 16, 16, 19, 23, 23, 28, 28, 38, 45, 61]

#### ix) copy()
when copy is used, it returns a new list containing a shallow copy of the original list.

In [12]:
copied_list1 = list1.copy()
copied_list1

[28, 19, 38, 45, 1, 23, 16, 7, 3, 61, 7, 16, 28, 23, 12, 8]

#### x) clear()
clear deletes all elements in a list.

In [17]:
list1.clear()
list1

[]

#### xi) any()
any returns true if any in the agument is true

In [14]:
hall=[False,False,True]
any(hall)

True

#### xii) filter()
filter is when elements are filtered so that only a select few match a condition.

#### xiii) list()
the list checks the expression from left to right and a new list is created with expression's value

#### xiv) map()
map calculates elements into new values. the result has the same number of elements as the original list being mapped.

In [15]:
import random #this example uses filter(), list(), and map()
def greater_ten(x):
    if x>10:
        return x
number=[random.randrange(1,20) for i in range(10)]
print(number)

[3, 13, 2, 16, 16, 17, 19, 18, 12, 16]

In [16]:
print(list(filter(greater_ten,number)))
print(list(map(greater_ten,number)))

[13, 16, 16, 17, 19, 18, 12, 16]
[None, 13, None, 16, 16, 17, 19, 18, 12, 16]

#### vii) pop()
pop removes and returns the element at the end of the list

In [22]:
number.pop()

16

In [23]:
number

[3, 13, 2, 16, 16, 17, 19, 18, 12]

### Problem b
let Tuple be input=('car','bike','train','airplane')

In [19]:
input=('car','bike','train','airplane')
input

('car', 'bike', 'train', 'airplane')

#### i) cmp()
cmp compares two tuples

In [26]:
def cmp(a,b):
    return (a>b) - (a<b)
a=(3,2,5,6)
b=(2,4,5,6)
c= cmp(a,b)
print(c)

1

#### ii) len()
len returns the number of elements in a tuple of list.

In [20]:
len(input)

4

#### iii) max()
max numerically outputs the largest element. alphabetically it outputs the element the is closest to the end off the alphabet

In [21]:
max(input)

'train'

#### iv) tuple(seq) 
ordered sequence of tuple

In [27]:
x=tuple(seq(input))
x

NameError: name 'seq' is not defined